.contenedor{
    width: 100vw;
    height: 100vh;
    background-color: #242424;
    display: flex;
}
/* ---------Slogan----------- */
.slogan{fill:none;stroke:#FFF;stroke-width:94;stroke-dasharray: 1500;stroke-dashoffset: 1500;
    animation: 
                slogan 1s forwards
                cubic-bezier(0.4, 0, 0.2, 1)
                0.5s;
}
@keyframes slogan{0%{stroke-dashoffset:1500;}100%{stroke-dashoffset:0px;}}
.sloganTXT{transform-origin: 2080px 3965px;
    transform: scale(2.2) translate(-90px, -600px);
    animation: sloganReUbi 1s forwards 3s;
}
@keyframes sloganReUbi{0%{transform: scale(2.2) translate(-90px, -600px);}100%{transform: scale(1) translate(0px, 0px);}}
/* ---------IsoTipo----------- */
.lineaInA,.lineaInB,.lineaInC,.lineaOutA,.lineaOutB,.lineaOutC{fill:none;stroke:#FFF;stroke-linecap: round;stroke-linecap: round;}
.lineaInA,.lineaInB,.lineaInC{stroke-dasharray: 1275;stroke-dashoffset: 1275;
    animation: lineaIn 1s forwards 4s,
               lineaIn 1s forwards reverse 4.5s;
}
.lineaOutA,.lineaOutB,.lineaOutC{stroke-dasharray: 2094;stroke-dashoffset: 2094;
    animation: lineaOut 1s forwards 4.5s,
               lineaOut 0.5s forwards reverse 5s;
}
@keyframes lineaIn{
    0%{stroke-width: 1;stroke-dashoffset:-1275px;
    }100%{stroke-width: 10;stroke-dashoffset:0px;}
}
@keyframes lineaOut{
    0%{stroke-width: 1;stroke-dashoffset:2094px;
    }100%{stroke-width: 10;stroke-dashoffset:0px;}
}

/* -------------------- */
.aspaGris{fill:url(#aspaGris);transform-origin: 1412px 3516px;}
.aspaNaranja{fill:url(#aspaNaranja);transform-origin: 2735px 2397px;}
.aspaVerde{fill:url(#aspaVerde);transform-origin: 1104px 1811px;}
.aspaGris,.aspaNaranja,.aspaVerde{opacity: 1;
    transform: rotate(70deg);
    animation: aspas 0.5s forwards
    cubic-bezier(0, 0, 0.2, 1)
    5.5s;
}
@keyframes aspas{0%{transform: rotate(70deg);}100%{transform: rotate(-0.1deg);opacity: 1;}}
/* -------------------- */
.linS{transform: translateY(80px);opacity: 0;
        animation: linS 0.5s forwards 6s;
}
@keyframes linS{
    0%{transform: translateY(80px);opacity: 0;
    }100%{transform: translateY(0px);opacity: 1;}
}
.liA{fill: #fff;transform: translateX(-62px);
    animation: liB 0.5s forwards 6.5s;
}
@keyframes liA{
    0%{transform: translateX(-62px);
    }100%{transform: translateX(0px);}
}
.liB{fill: #fff;transform: translateX(-30px);
    animation: liB 0.5s forwards 6.5s;
}
@keyframes liB{
    0%{transform: translateX(-30px);
    }100%{transform: translateX(0px);}
}
.liC{fill: #fff;}
.txtM{fill: #fff;transform-origin: 1189px 3670px;opacity: 0;
    transform: scale(2.8);
    animation: txtM 0.5s forwards 7s;
}
.txtE{fill: #fff;transform-origin: 1496px 3670px;opacity: 0;
    transform: scale(2.8);
    animation: txtM 0.5s forwards 7.2s;
}
.txtC1{fill: #fff;transform-origin: 1791px 3670px;opacity: 0;
    transform: scale(2.8);
    animation: txtM 0.5s forwards 7.4s;
}
.txtC2{fill: #fff;transform-origin: 2116px 3670px;opacity: 0;
    transform: translateX(-308px);
    animation: txtC2 0.5s forwards 7.6s;
}
.txtO1{fill: #fff;transform-origin: 2206px 3781px;opacity: 0;
    transform: rotate(0deg) translateX(310px);
    animation: txtO1 0.5s forwards 7.8s;
}
.txtO2{fill: #fff;transform-origin: 2437px 3781px;opacity: 0;
    transform: rotate(0deg) translateX(310px);
    animation: txtO1 0.5s forwards 8s;
}
.txtL{fill: #fff;transform-origin: 2800px 3670px;opacity: 0;
    transform: scale(2.8);
    animation: txtM 0.5s forwards 8s;
}
@keyframes txtM{
    0%{transform: scale(2.8);opacity: 0;
    }100%{transform: scale(1);opacity: 1;}
}
@keyframes txtC2{
    0%{transform: translateX(-308px);opacity: 0;
    }100%{transform: translateX(0);opacity: 1;}
}
@keyframes txtO1{
    0%{transform: rotate(0deg) translateX(310px);opacity: 0;
    }100%{transform: rotate(360deg) translateX(0px);opacity: 1;}
}
/* -----------Icons---------- */
.icon1,.icon2,.icon3{
    transform: scale(0);
    animation: iconS 0.5s forwards 8s;
}
.icon1{fill:#F6850F;transform-origin: 1582px 2082px;}
.icon2{fill:#474747;transform-origin: 2354px 2665px;}
.icon3{fill:#1C94AD;transform-origin: 1481px 3041px;}
@keyframes iconS{
    0%{transform: scale(0);
    }100%{transform: scale(1);}
}
.logo{
    margin: auto;
    max-height: 100vh;
    opacity: 1;
    animation: logo 1s forwards 10s;
}
@keyframes logo{0%{opacity:1;}100%{opacity:0;}}